In [3]:
x = 1
y = 1

z = 1
b = 1 \
+ 2

char_x = 4 ; y = 1 ; z = x + y
summing = 1 + 2 # this line sums 2 numbers

# this is comment line

""" 
this is first commented line
this is second commented line
lkad
"""
print(4+5)
print(char_x)
type(char_x)
a = 3.4
print(a)
print(a+10)
b = 7e-3
print(b)
type(b)
str1 = r"""ar\npit"""
""" khandelwal"""
print(str1)
print(type(str1))
str2 = "i'am a programmer"
print(str2)
str3 =  "am1"
str3 in str2
len(str2)

9
4
3.4
13.4
0.007
ar\npit
<class 'str'>
i'am a programmer

17